@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

main {
  height: 91.5vh;
  display: flex;
  background-color: #f8f5f8;
}

main img {
  width: 50%;
}

#homeform {
  height: 91.5vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 30px;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
}
#homeform .inputhome {
  margin-bottom: 20px;
}

#homeform p {
  font-family: "Fredoka", sans-serif;
  font-size: xx-large;
  text-align: left;
}

#homeform p img {
  height: 25px;
  width: 20px;
}

#mensagem {
  width: 50%;
  height: 30%;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: "Fredoka", sans-serif;
  padding: 8px;
  border-radius: 10px;
  resize: none;
}

#mensagem:hover {
  border-color: pink;
}

.inputhome {
  font-family: "Fredoka", sans-serif;
  border-width: 1px;
  margin-top: 10px;
  width: 50%;
  padding: 5px;
  border-radius: 10px;
}

.inputhome:hover {
  border: pink 1px solid;
}

#homebutton {
  font-family: "Fredoka", sans-serif;
  background-color: #f8f5f8;
  border-radius: 10px;
  height: 8%;
  width: 20%;
  border-width: 1px;
  cursor: pointer;
  font-weight: bold;
}

#homebutton:hover {
  background-color: pink;
  transition: 1s;
}
