@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

#loginform {
  height: 89vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  justify-content: center;
  font-family: "Fredoka", sans-serif;
}
#loginform input {
  margin-bottom: 20px;
}

input {
  font-family: "Fredoka", sans-serif;
  border-width: 1px;
  margin-top: 10px;
  width: 25%;
  padding: 5px;
  border-radius: 10px;
}

input:hover {
  border: pink 1px solid;
}

#loginbutton {
  font-family: "Fredoka", sans-serif;
  background-color: #f8f5f8;
  border-radius: 10px;
  height: 8%;
  width: 10%;
  border-width: 1px;
  cursor: pointer;
  font-weight: bold;
}

#loginbutton:hover {
  background-color: pink;
  transition: 1s;
}
